@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
:root {
  font-family: "Raleway";
  line-height: 1.5;
  font-weight: 400;
  background-color: #f4fffd;
}
